@use '@styles/global' as *;

.carousel {
    position: relative;
    // overflow: hidden;

    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity $animation-duration $animation;
    }
     

    &__controls {
        display: flex;
        gap: 16px;
        justify-content: center;
    }

    &__control {
        user-select: none;
        position: relative;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: none;
        background-color: $color-btn-arrow-default;
    
        &--prev {
            &::after {
                content: 'b';
                position: absolute;
                top: 35%;
                left: 65%;
                color: transparent;
                width: 40%;
                height: 40%;
                border-right: 2px solid $color-btn-arrow-text;
                border-bottom: 2px solid $color-btn-arrow-text;
                transform: rotate(135deg) translateY(50%) translateX(50%);
            }
        }
        &--next {
            &::after {
                content: 'b';
                position: absolute;
                top: 35%;
                left: 50%;
                color: transparent;
                width: 40%;
                height: 40%;
                border-left: 2px solid $color-btn-arrow-text;
                border-top: 2px solid $color-btn-arrow-text;
                transform: rotate(135deg) translateY(50%) translateX(50%);
            }
        }

        &--disabled {
            background-color: $color-btn-arrow-disabled;
        }
    }

    &__bullets {
        display: flex;
        gap: 6px;
        align-items: center;
    }

    &__bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-btn-arrow-disabled;

        &--active {
            background-color: $color-btn-arrow-default;
        }
    }
}


.slide-active {
    opacity: 1; 
}