@use '@styles/global' as *;

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        text-transform: uppercase;
        
        & * {
            display: block;
        }

        span {
            &:nth-of-type(3) {
                text-align: center;
                // @include mf-bp-rem('margin-left', (
                // xs: 63.25px,
                // md: avg(63.25px, 91px),
                // xl: 91px
                // )); 
            }

            &:nth-of-type(4) {
                text-align: right;
            }
        }
    }
}