@use "@styles/global" as *;
@use "@scss-components/UI/participant";

.participants {
  display: grid;
  grid-template-areas: none;
  align-items: center;
  gap: px-to-rem(40px);
  max-width: 1222px;
  @include mf-bp-rem(
    "row-gap",
    (
      xs: 40px,
      md: avg(40px, 60px),
      xl: 60px,
    )
  );

  @media screen and (min-width: $screen-xl) {
    grid-template-areas:
      "title controls"
      "participants participants";
  }
}
.participants__title {
  font-family: "Merriweather", Times, serif;
  line-height: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
  @include mf-bp-rem(
    "font-size",
    (
      xs: 36px,
      md: avg(36px, 54px),
      xl: 54px,
    )
  );

  @media screen and (min-width: $screen-xl) {
    grid-area: title;
  }
}

.participants__controls {
  @media screen and (min-width: $screen-xl) {
    grid-area: controls;
  }
}

.participants__slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: px-to-rem(57px);
  width: 100%;
  transition: opacity 0.5s $animation;
}

.participants__list {
  @media screen and (min-width: $screen-xl) {
    grid-area: participants;
  }
}
