@use '@styles/global' as *;
@use '@scss-components/company-logo';
@use '@scss-components/hero';
@use '@scss-components/UI/marquee';
@use '@scss-components/UI/bg';

.header {
    background-color: $color-background ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {

        background-image: url('@images/bg-header.png');
        background-size: cover;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        mix-blend-mode: color-burn; /* Добавлено это свойство */
        filter: brightness(0.95);
    }

    &-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1366px;
        z-index: 10;
    }
    

    &__logo {
        @include mf-bp-rem('margin', (
            xs: 18px 20px 0px,
            md: (avg(18px, 26px) avg(20px, 72px) 0px),
            xl: 26px 72px 0px
        ));
    }

    &-company__icon {
        @include mf-bp-rem('width', (
            xs: 213px,
            md: avg(213px, 245.17px),
            xl: 245.17px
        ));

        @include mf-bp-rem('height', (
            xs: 32px,
            md: avg(32px, 36px),
            xl: 36px
        ));
      
    }

    &__hero {
        @include mf-bp-rem('margin', (
            xs: 40px 20px 0,
            md: avg(40px, 62px) avg(20px, 72px) 0,
            xl: 62px 72px 0,
        ));

        &-title {
            @include mf-bp-rem('font-size', (
                xs: 36px,
                md: avg(36px, 60px),
                xl: 60px
            ));
        }
       
    }

    &__marquee {
        @include mf-bp('margin-top', (
            xs: 291px,
            md: avg(291px, 132px),
            xl: 132px
        ));
    }
}