@use '@styles/global' as *;

.main {
    overflow-y: auto; /* Add scrolling if content doesn't fit */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mf-bp-rem('margin', (
        xs: 15px,
    ));
    @include mf-bp-rem('gap', (
        xs: 10px,
    ));
    @include mf-bp-rem('padding', (
        xs: 0 20px 0px,
        md: (0 avg(20px, 72px) 0px),
        xl: 0 72px 0px
    ));
}