// colors

$color-background: #e9ded4;
$color-more: #3057a2;
$color-attention: #f54932;
$color-text-default: #313131;
$color-footer: #e9ded4;

$color-btn-main-default: #1f1f1f;
$color-btn-main-hover: #fbce51;
$color-btn-main-default-text: #ffffff;
$color-btn-main-hover-text: #1f1f1f;

$color-btn-secondary-default: transparent;
$color-btn-secondary-hover: #1f1f1f;
$color-btn-secondary-default-text: #1f1f1f;
$color-btn-secondary-hover-text: #ffffff;

$color-btn-arrow-default: #1f1f1f;
$color-btn-arrow-hover: #fbce51;
$color-btn-arrow-disabled: #d6d6d6;
$color-btn-arrow-text: #ffffff;

$color-btn-more-hover: transparent;
