    // colors

$color-background  : #E9DED4;
$color-more        : #3057A2;
$color-attention   : #F54932;
$color-text-default: #313131;

$color-btn-main-default     : #1F1F1F;
$color-btn-main-hover       : #FBCE51;
$color-btn-main-default-text: #FFFFFF;
$color-btn-main-hover-text  : #1F1F1F;

$color-btn-secondary-default     : transparent;
$color-btn-secondary-hover       : #1F1F1F;
$color-btn-secondary-default-text: #1F1F1F;
$color-btn-secondary-hover-text  : #FFFFFF;

$color-btn-arrow-default : #1F1F1F;
$color-btn-arrow-hover   : #FBCE51;
$color-btn-arrow-disabled: #D6D6D6;
$color-btn-arrow-text    : #FFFFFF;


$color-btn-more-hover: transparent;
 

