<div class="event-promo {=$class}__event-promo">
    <div class="event-promo__container">
        <div class="event-promo__content">
                <p class="event-promo__text">Чтобы поддержать Международный васюкинский турнир</p>
                <p class="event-promo__text">посетите лекцию на тему: <span class="event-promo__text--highlight">«Плодотворная дебютная идея»</span></p>
            <img src="src/assets/images/tournament.png" alt="" class="event-promo__image img">
        </div>
        <div class="event-promo__content">
            <img src="src/assets/images/game-session.png" alt="" class="event-promo__image img">
        </div>
    </div>
</div>