<section class="event-promo">
    <div class="event-promo__container">
        <div class="event-promo__content">
                <p class="event-promo__text">Чтобы поддержать Международный васюкинский турнир</p>
                <p class="event-promo__text">посетите лекцию на тему: <span class="event-promo__text--highlight">«Плодотворная дебютная идея»</span></p>
            <img src="src/assets/images/tournament.png" alt="" class="event-promo__image img">
        </div>
        <div class="event-promo__content">
            <img src="src/assets/images/game-session.png" alt="" class="event-promo__image img">
            <p class="event-promo__text">и Сеанс <span class="event-promo__text--highlight">одновременной игры в шахматы на 160 досках</span> гроссмейстера О. Бендера</p>
            <table class="event-promo__table">
                <tbody>
                    <tr>
                        <td data-label="Место проведения:">Клуб «Картонажник»</td>
                    </tr>
                    <tr>
                        <td data-label="Дата и время мероприятия:">22 июня 1927 г. в 18:00</td>
                    </tr>
                    <tr>
                        <td data-label="Стоимость входных билетов:">20 коп.</td>
                    </tr>
                    <tr>
                        <td data-label="Плата за игру:">50 коп.</td>
                    </tr>
                    <tr>
                        <td data-label="Взнос на телеграммы:"><s>100 руб.</s>&nbsp;21 руб. 16 коп.</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="link">По всем вопросам обращаться в администрацию к К. Михельсону</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>