<div class="event-promo {=$class}__event-promo">
    <div class="event-promo__container">
        <div class="event-promo__content">
                <p class="event-promo__text">Чтобы поддержать Международный васюкинский турнир</p>
                <p class="event-promo__text">посетите лекцию на тему: <span class="event-promo__text--highlight">«Плодотворная дебютная идея»</span></p>
            <img src="src/assets/images/tournament.png" alt="" class="event-promo__image img">
        </div>
        <div class="event-promo__content">
            <img src="src/assets/images/game-session.png" alt="" class="event-promo__image img">
            <p class="event-promo__text">и Сеанс одновременной игры в шахматы на 160 досках гроссмейстера О. Бендера</p>
            <table class="event-promo__table">
                <tr>
                    <td class="event-promo__table-cell">Место: Проведения</td>
                    <td class="event-promo__table-cell">Клуб «Картонажник»</td>
                </tr>
                <tr>
                    <td class="event-promo__table-cell">Дата и время мероприятия:</td>
                    <td class="event-promo__table-cell">22 июня 1927 г. в 18:00</td>
                </tr>
                <tr>
                    <td class="event-promo__table-cell">Стоимость входных билетов:</td>
                    <td class="event-promo__table-cell">20 коп.</td>
                </tr>
                <tr>
                    <td class="event-promo__table-cell">Плата за игру:</td>
                    <td class="event-promo__table-cell">50 коп.</td>
                </tr>
                <tr>
                    <td class="event-promo__table-cell">Взнос на телеграммы:</td>
                    <td class="event-promo__table-cell"><s>100 руб.</s> 21 руб. 16 коп.</td>
                </tr>
            </table>
        </div>
    </div>
</div>