<section class="info-stages" id="info-stages">
    <div class="info-stages__container">    
        <ol class="info-stages__list carousel carousel__info-stages">
            <div class="carousel__slide">
                <li class="info-stages__item">Строительство железнодорожной магистрали Москва-Васюки</li>
            </div>
            <div class="carousel__slide">
                <li class="info-stages__item">Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов</li>
            </div>
            <div class="carousel__slide">
                <li class="info-stages__item">Третий элемент</li>
            </div>
            <div class="carousel__slide">
                <li class="info-stages__item">Четвёртый элемент</li>
            </div>
            <div class="carousel__slide">
                <li class="info-stages__item">Четвёртый элемент</li>
            </div>
        </ol>
        <div class="carousel__controls">
            <button class="carousel__control carousel__control--prev carousel__control--disabled"></button>
            <div class="carousel__bullets">
                <span class="carousel__bullet carousel__bullet--active"></span>
                <span class="carousel__bullet"></span>
                <span class="carousel__bullet"></span>
                <span class="carousel__bullet"></span>
                <span class="carousel__bullet"></span>
            </div>
            <button class="carousel__control carousel__control--next"></button>
        </div>
    </div>
</section>