<section class="info-stages" id="info-stages">
    <div class="info-stages__container">   
        <h3 class="info-stages__title">
            Этапы преображения Васюков
        </h3> 
        <ol class="info-stages__list carousel carousel__info-stages burn-bg">
            <li class="info-stages__item burn-bg carousel__item">Строительство железнодорожной магистрали Москва-Васюки</li>
            <li class="info-stages__item burn-bg carousel__item">Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов</li>
            <li class="info-stages__item burn-bg carousel__item">Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет</li>
            <li class="info-stages__item burn-bg carousel__item">Строительство дворца для турнира</li>
            <li class="info-stages__item burn-bg carousel__item">Размещение гаражей для гостевого автотранспорта</li>
            <li class="info-stages__item burn-bg carousel__item">Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов</li>
            <li class="info-stages__item burn-bg carousel__item">Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн</li>
        </ol>
        <div class="carousel__controls info-stages__controls">
            <button class="carousel__control carousel__control--prev"></button>
            <button class="carousel__control carousel__control--next"></button>
        </div>
    </div>
</section>