<section class="info-stages">
    <div class="info-stages__container">    
        <ol class="info-stages__list carousel carousel__info-stages">
            <li class="info-stages__item">Первый элемент</li>
            <li class="info-stages__item">Второй элемент</li>
            <li class="info-stages__item">Третий элемент</li>
            <li class="info-stages__item">Четвёртый элемент</li>
        </ol>
        <div class="info-stages__controls">
            <button class="info-stages__control info-stages__control--prev info-stages__control--disabled"></button>
            <div class="info-stages__pagination">
                <span class="info-stages__pagination-item info-stages__pagination-item--active"></span>
                <span class="info-stages__pagination-item"></span>
                <span class="info-stages__pagination-item"></span>
                <span class="info-stages__pagination-item"></span>
                <span class="info-stages__pagination-item"></span>
            </div>
            <button class="info-stages__control info-stages__control--next"></button>
        </div>
    </div>
</section>