<section class="participants" id="participants">
    <div class="participants">   
        <h3 class="participants__title">
            Участники турнира
        </h3> 
        <ol class="participants__list carousel carousel__participants">
            <load src="src/components/UI/_participant.html"
            name="Хозе-Рауль Капабланка"
            description="Чемпион мира по шахматам"
            link="#"
            />
            <load src="src/components/UI/_participant.html"
            name="Эммануил Ласкер"
            description="Чемпион мира по шахматам"
            link="#"
            />
            <load src="src/components/UI/_participant.html"
            name="Александр Алехин"
            description="Чемпион мира по шахматам"
            link="#"
            />
            <load src="src/components/UI/_participant.html"
            name="Арон Нимцович"
            description="Чемпион мира по шахматам"
            link="#"
            />
            <load src="src/components/UI/_participant.html"
            name="Рихард Рети"
            description="Чемпион мира по шахматам"
            link="#"
            />
            <load src="src/components/UI/_participant.html"
            name="Остап Бендер"
            description="Гроссмейстер"
            link="#"
            />
        </ol>
        <div class="carousel__controls participants__controls">
            <button class="btn btn-arrow carousel__control carousel__control--prev"></button>
            <button class="btn btn-arrow carousel__control carousel__control--next"></button>
        </div>
    </div>
</section>