@use '@styles/global' as *;

.bg {
    user-select: none;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;

    &-container {
        position: absolute;
        background-color: $color-background;
        width: 100%; 
        height: 100%; 
        overflow: hidden;
        z-index: 1;
        max-width: 1623.5px;
        margin: 0 auto;
    }

   

    &__element {
        position: absolute;


        &-horse {
            transform: rotate(-10.59deg);
            z-index: 500000;
            @include avg-bp(bottom, 17.59px, 9.3px);
            @include avg-bp(right, 131.21px, 334.28px);
            @include avg-bp(width, 76.71px, 153.87px);
            @include avg-bp(height, 121.63px, 243.99px);
        }

        &-bishop {
            z-index: 3;
            transform: rotate(avg(15deg, -7.59deg));
            @include avg-bp(width, 46.98px, 113.16px);
            @include avg-bp(height, 104.8px, 252.44px);
            @include avg-bp(bottom, 200.61px, 329.54px);
            @include avg-bp(right, 79.69px, 159.04px);
            // @include avg-bp(right, 159.04px, 277.04px, 'xl', 'xxl');
            // подогнать размер
            //  от xl до xxl средний расчет. возможно улучить avg-bp
            // @include avg-bp-bw(right, 159.04px, 277.04px, 'xl', 'xxl');
        }

        &-king {
            z-index: 3;
            transform: rotate(-5.99deg);
            @include avg-bp(width, 47.44px, 103.78px);
            @include avg-bp(height, 116.98px, 255.89px);
            @include avg-bp(bottom, 149.25px, 224.31px);
            @include avg-bp(right, 252.8px, 506.92px);
            // @include avg-bp(right, 506.92px, 624.92px, 'xl', 'xxl');
            // подогнать размер
        }

        &-pawn {
            z-index: 6;
            width: 82.61px;
            height: 122.22px;
            bottom: 79.58px;
            @include mf-bp('display', (
                xs: none,
                xl: block,
            )); 
            @include avg-bp(right, 44.55px, 162.55px, 'xl', 'xxl');
            // подогнать размер
        }

        &-city {
            z-index: 4;
            @include avg-bp(height, 246.81px, 452.5px);
            @include avg-bp(width, 885.53px, 1623.5px);
            @include avg-bp(bottom, 27.33px, 22.5px);
            @include avg-bp(right, -109.43px, -141px);
            // @include avg-bp(right, -141px, 0px, 'xl', 'xxl');
            // подогнать размер

            @include avg-bp-multi(right, 
                -109.43px, 'md', 'xl',
                -141px, 'xl', 'xxl',
                0px, 'xxl', 'xxxl'
                );
        }
        
        &-sun {
            z-index: 2;
            @include avg-bp(width, 297.47px, 660px);
            @include avg-bp(height, 297.47px, 660px);
            @include avg-bp(bottom, 104.69px, 144px);
            @include avg-bp(right, 47.49px, 33px);
            // @include avg-bp(right, 33px, 151px, 'xl', 'xxl');
            // подогнать размер
        }
        
    }
}