@use "@styles/global" as *;

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-container {
  overflow: hidden;
  width: 100%;
  background-color: $color-attention;
  z-index: 10;
}

.marquee {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  animation: marquee linear infinite;

  @include mf-bp-rem(
    "padding",
    (
      xs: 10px 0px,
      md: avg(10px, 18px),
      xl: 18px 0px,
    )
  );

  &-content {
    flex: 0 0 50%;
    font-family: "Merriweather", Times, serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1em;
    white-space: nowrap;
    color: white;

    @include mf-bp-rem(
      "font-size",
      (
        xs: 16px,
        md: avg(16px, 22px),
        xl: 22px,
      )
    );
    @include mf-bp-rem(
      "padding",
      (
        xs: 10px 0px,
        md: avg(10px, 18px) 0px,
        xl: 18px 0px,
      )
    );

    span {
      padding: 0 px-to-rem(12px);
    }
  }

  &__separator {
  }
}
