<div class="bg-container">
    <div class="bg {=$class}__bg">
        <img class="bg__element bg__element-horse" src="src/assets/images/chess-horse.png" alt="Chess piece: horse">
        <img class="bg__element bg__element-bishop" src="src/assets/images/chess-bishop.png" alt="Chess piece: rook">
        <img class="bg__element bg__element-king" src="src/assets/images/chess-king.png" alt="Chess piece: king">
        <img class="bg__element bg__element-city" src="src/assets/images/city-bg.png" alt="Image of the city">
        <img class="bg__element bg__element-sun" src="src/assets/images/sun.png" alt="Image of the sun">
    </div>
</div>